<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Tibetan Transliterator</title>
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="vendor/stylesheets/semantic.min.css">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/scrollbar.css">
  <script src="vendor/javascripts/howler.min.js"></script>
  <script src="vendor/javascripts/jquery-3.2.0.min.js"></script>
  <script src="vendor/javascripts/jquery.autosize.js"></script>
  <script src="vendor/javascripts/clipboard.min.js"></script>
  <script src="vendor/javascripts/moment.js"></script>
  <script src="vendor/javascripts/semantic.min.js"></script>
  <script src="vendor/javascripts/sugar.js"></script>
  <script src="vendor/javascripts/underscore.min.js"></script>
  <script src="vendor/javascripts/vue.js"></script>
  <script src="javascripts/settings-var.js"></script>
  <script src="settings/original.js"></script>
  <script src="settings/english-loose.js"></script>
  <script src="settings/english-strict.js"></script>
  <script src="settings/french-strict.js"></script>
  <script src="settings/spanish.js"></script>
  <script src="javascripts/settings.js"></script>
  <script src="javascripts/parser.js"></script>
  <script src="javascripts/exceptions.js"></script>
  <script src="javascripts/transliterator.js"></script>
  <script>
    var app;
    $(function() {
      Vue.component('tibetan-input', {
        props: ['value'],
        methods: {
          checkInput: function(value) {
            if (value.trim()) {
              var anyWesternCharacter = new RegExp(/[a-zéèêêàââñïîôöûü0-9\#\.\"\'\[\]\{\}\(\)\,\;\:\!\?\%ù\*\$\=\+\-"]/ig);
              if (value.match(anyWesternCharacter)) {
                $('#tibetan').val(value.replace(anyWesternCharacter, '').trim());
                var dimmerDiv = $('#please-input-tibetan');
                dimmerDiv.dimmer('show');
                setTimeout(function() { dimmerDiv.dimmer('hide') }, 2000);
              } else
                this.$emit('input', value);
            } else
              this.$emit('input', value);
          },
          selectTextarea: function() {
            $('#tibetan').focus();
          }
        },
        template: `
          <div class="ui form" style="position: relative;">
            <div v-if="!value" id="tibetan-placeholder" v-on:click="selectTextarea">
              Try inputing some Tibetan here...
            </div>
            <textarea
              v-bind:value="value"
              v-on:input="checkInput($event.target.value)"
              id="tibetan"
              class="tibetan"
              autofocus="true"
            ></textarea>
          </div>
        `,
        updated: function(object) {
          $('#tibetan').autosize();
          setTimeout(function() {
            $('#transliteration').css('height', $('textarea.tibetan').css('height'));
          }, 0)
        }
      });
      Vue.component('transliterated-lines', {
        props: {
          language: String,
          lines: Array
        },
        computed: {
          transliteratedLines: function() {
            Settings.change(this.language);
            return this.lines.map(function(line) {
              return new Transliterator(line).transliterate().capitalize();
            }).join("\n");
          },
        },
        mounted: function() {
          new Clipboard('#copy-to-clipboard');
        },
        template: `
          <div class="ui form">
            <textarea id="transliteration" readonly="">{{transliteratedLines}}</textarea>
          </div>
        `
      })
      Vue.component('clipboard-button', {
        data: function() {
          return {
            text: 'Copy to clipboard'
          }
        },
        methods: {
          updateText: function() {
            var that = this;
            this.text = 'Copied!'
            setTimeout(function() {
              that.text = 'Copy to clipboard';
            }, 1000)
          }
        },
        template: `
          <div
            id="copy-to-clipboard"
            data-clipboard-target="#transliteration"
            v-on:click="updateText"
          >
            <i class="paste icon"></i> {{text}}
          </div>
        `
      });
      Vue.component('language-menu', {
        model: {
          prop: 'value',
          event: 'change'
        },
        props: {
          value: String
        },
        data: function() {
          return {
            languages: Settings.languages()
          }
        },
        mounted: function() {
          $('.radio').checkbox();
        },
        template: `
          <div id="languages" class="ui form">
            <div class="inline fields">
              <div
                v-for="(language, index) in languages"
                class="inline field"
              >
                <div class="ui radio checkbox">
                  <input type="radio"
                    tabindex="0"
                    class="hidden"
                    name="language"
                    v-bind:value="language"
                    v-bind:checked="language == value"
                    v-on:change="$emit('change', $event.target.value)">
                  <label>{{language.capitalize()}}</label>
                </div>
              </div>
            </div>
          </div>
        `
      })
      app = new Vue({
        el: '#main',
        data: {
          selectedLanguage: Settings.defaultLanguage,
          tibetan: `
            ཧཱུྃ༔
            ཨོ་རྒྱན་ཡུལ་གྱི་ནུབ་བྱང་མཚམས༔
            པདྨ་གེ་སར་སྡོང་པོ་ལ༔
            ཡ་མཚན་མཆོག་གི་དངོས་གྲུབ་བཪྙེས༔
            པདྨ་འབྱུང་གནས་ཞེས་སུ་གྲགས༔
            འཁོར་དུ་མཁའ་འགྲོ་མང་པོས་བསྐོར༔
            ཁྱེད་ཀྱི་རྗེས་སུ་བདག་བསྒྲུབ་ཀྱིས༔
            བྱིན་གྱིས་བརླབ་ཕྱིར་གཤེགས་སུ་གསོལ༔
            གུ་རུ་པདྨ་སིདྡྷི་ཧཱུྃ༔
          `.replace(/ /g, '').trim()
        },
        computed: {
          lines: function() {
            return this.tibetan ? this.tibetan.split("\n") : [];
          }
        },
        template: `
          <div class="ui container">
            <language-menu v-model="selectedLanguage"></language-menu>
            <div id="scrollable-area-container">
              <clipboard-button v-if="tibetan"></clipboard-button>
              <div id="scrollable-area">
                <tibetan-input v-model="tibetan"></tibetan-input>
                <transliterated-lines
                  v-bind:lines="lines"
                  v-bind:language="selectedLanguage"
                ></transliterated-lines>
              </div>
            </div>
          </div>
        `
      })
    })
  </script>
  <style>
  </style>
  <body>
    <div id="main" class="ui container"></div>
    <div class="ui page dimmer" id="please-input-tibetan">
      <div class="content">
        <div class="center">
          <h2 class="ui inverted icon header">
            <i class="warning sign icon"></i>
            Woops
            <div class="sub header">Please input Tibetan characters only</div>
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>