.compare.ui.container {
  width: 94vw;
}

.compare #tibetan,
.compare #transliteration,
.compare #transliterated {
  padding: 15px 30px !important;
}

.compare #transliteration,
.compare #transliterated {
  font-family: monospace;
}

.compare #transliterated {
  height: 100%;
}

.compare #transliteration,
.compare #transliterated .line {
  font-size: 14px !important;
  line-height: 36px;
}

.compare #transliterated span[style] {
  cursor: pointer;
}