.compare.ui.container {
  width: 94vw;
}

.compare #scrollable-area .form {
  padding: 15px 0;
}

.compare #scrollable-area .form,
.compare #transliterated {
  display: inline-block;
  width: 32.27%;
  margin-right: 1%;
  vertical-align: top;
}

.compare #tibetan,
.compare #transliteration {
  padding: 15px 30px !important;
}

.compare #transliteration,
.compare #transliterated {
  font-family: monospace;
}

.compare #transliterated {
  margin-right: 0;
  padding: 15px 30px;
  background: white;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 4px;
}

.compare #transliteration,
.compare #transliterated .line {
  font-size: 14px !important;
  line-height: 36px;
}

.compare #transliterated span[style] {
  cursor: pointer;
}