@font-face {
  font-family: "TibetanMachineUnicode";
  src: url("../vendor/fonts/TibetanMachineUnicode1.0_0.ttf") format('truetype');
}

.tibetan {
  font-family: TibetanChogyalUnicode-170221, TibetanChogyalUnicode-ID, TibetanChogyalUnicode, TibetanMachineUnicode !important;
  font-size: 36px !important;
  line-height: 1em !important;
  vertical-align: middle;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #001211;
  z-index: 99999999;
}

#menu-button,
#color-mode-button {
  position: fixed;
  top: 32px;
  z-index: 999999;
}
#menu-button {
  left: 17.5px;
}
#color-mode-button {
  right: 17.5px;
}

#app {
  min-height: 100%;
  padding: 30px 70px;
  background: #fcfcfc !important;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 10px);
  margin-bottom: 2em;
}
  #menu > div {
    flex: 0 auto;
  }
  #menu .rulesets {
    display: flex;
  }
    #menu .rulesets .dropdown {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    #menu .rulesets .button {
      margin-right: 17px;
      border-left: none;
      box-shadow: none !important;
    }

#options {
  display: flex;
  text-align: center;
  margin-bottom: 2em;
}
#options > div {
  flex: 1;
}

.scrollable-area-container {
  position: relative;
}
.scrollable-area {
  display: flex;
  max-height: 75vh;
  overflow-y: scroll;
}

.scrollable-area > * {
  flex: 1;
  margin-right: 15px;
}
.scrollable-area:last-child {
  margin-right: 0;
}

.scrollable-area textarea,
.scrollable-area .result {
  width: 100%;
  min-height: calc(100vh - 60px) !important;
  max-height: none !important;
  padding: 30px !important;
  overflow: hidden;
}

.scrollable-area .result {
  height: 100%;
  font-size: 18px !important;
  line-height: 36px !important;
  white-space: pre-line;
  background: white;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 4px;
}

.compare #transliteration,
.compare #transliterated {
}
.compare #transliterated span[style] {
  cursor: pointer;
}

#tibetan-placeholder {
  position: absolute;
  width: 100%;
  top: 120px;
  font-size: 20px;
  color: #777;
  text-align: center;
  user-select: none;
  cursor: text;
}

#copy-to-clipboard {
  position: absolute;
  top: 0px;
  right: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 999;
}
#copy-to-clipboard:hover {
  cursor: pointer;
}

.with-live-preview {
  transition: padding-bottom 1s ease-in-out;
}
.with-live-preview-active {
  padding-bottom: 50vh;
}

.live-preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #e0e1e2;
  transition: height 1s ease-in-out;
}
.live-preview.active {
  height: 50vh;
}
.live-preview > .ui.attached.button {
  position: absolute;
  right: 21px;
  top: calc(-1 * .78571429em * 2 - 1em + 1px);
  box-shadow: none !important;
}
.live-preview > .button:focus {
  background-color: #e0e1e2;
}
.live-preview > .button:hover {
  background-color: #cacbcd !important;
}
.live-preview > .button i {
  transform: rotate(0deg) translateY(0);
  transition: transform 1s linear !important;
}
.live-preview.active > .button i {
  transform: rotate(-180deg) translateY(-2px);
}
.live-preview .scrollable-area-container {
  margin: 30px;
}
.live-preview #menu {
  margin-top: 30px;
  margin-bottom: -15px;
}

.ui.popup.inverted,
.ui.popup.inverted:before,
.ui.popup.inverted:after {
  background: #444 !important;
  color: rgba(255,255,255,0.9) !important;
}