.tab-menu {
  justify-content: center;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
  .tab-menu .item span {
    margin-left: 0.5em;
    opacity: 0.5;
  }
  .tab-menu .item span:hover {
    opacity: 1;
  }
    .tab-menu .item span i {
      margin: 0;
    }

.settings .tab-menu {
  font-size: 1.75em !important;
  margin-bottom: 2em;
}

.settings .tab > .header {
  margin-bottom: 1em;
}

.settings .card {
  width: 360px !important;
}

  .settings .card .content .buttons {
    float: right;
    margin: -14px -14px 14px 14px;
  }

    .settings .card .content .buttons .button {
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
    }

    .settings .new.card.link .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .settings .new.card .content {
      text-align: center;
      user-select: none;
    }
      .settings .new.card .content .selection.dropdown {
        width: 100%;
        margin: 0.5em 0;
      }
      .settings .new.card .content .primary.button {
        background: green;
      }

.settings .header .button {
  margin-left: 1em;
  vertical-align: middle;
}

.ui.labeled.icon.button.wipe-out-button {
  padding-left: 5.07142857em !important;
  text-align: left !important;
}
.ui.labeled.icon.button.wipe-out-button p,
.ui.labeled.icon.button.wipe-out-button ul {
  margin: 0.5em 0 0;
  font-size: 0.8em;
  line-height: 1em;
  text-align: left !important;
}
.ui.labeled.icon.button.wipe-out-button ul {
  padding: 0 1.1em;
  list-style-type: square;
}

.dev-mode.segment {
  display: flex;
  padding: 0;
  align-items: center;
  color: rgba(255,255,255,0.9);
}
.dev-mode.segment .left {
  flex: 0 auto;
  line-height: 0.8em;
  padding: 1em 1em 1.2em 1em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-variant: small-caps;
  font-weight: bold;
  background: #e0e1e2;
  color: rgba(0,0,0,.6);
}
.dev-mode.segment .checkbox {
  flex: 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#general-exceptions-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  #general-exceptions-message .button:last-child {
    margin-right: 0;
  }
  #general-exceptions-message em {
    font-style: normal;
    font-weight: bold;
  }

.exceptions .exception {
  display: flex;
}
  .exceptions .exception input {
    width: 50%;
    padding: 3px 10px !important;
    border-radius: 0;
  }
  .exceptions .exception input:first-child {
    text-align: right;
  }
  .exceptions .exception input:last-child {
    font-size: 23px !important;
    font-family: 'Monlam Uni Ouchan2' !important;
    border-radius: 0;
  }
  .exceptions .exception:first-child input:first-child {
    border-top-left-radius: 4px;
  }
  .exceptions .exception:first-child input:last-child {
    border-top-right-radius: 4px;
  }

.reset-exceptions,
.new.exception {
  padding: 0 !important;
  line-height: 60px !important;
  justify-content: center;
  font-weight: bold !important;
  border-top-width: 3px !important;
}

.exceptions-instructions {
  box-shadow: 0 0 0 2px #a9d5de inset, 0 0 0 0 transparent !important;
}
  .exceptions-instructions .header {
    margin: -1em !important;
    padding: 1.5em 1em !important;
    text-align: center;
    color: #0e566c !important;
  }
    .exceptions-instructions .header > * {
      vertical-align: middle !important;
    }
    .exceptions-instructions .header .icon {
      font-size: 1.5em !important;
    }
    .exceptions-instructions .header span {
      font-size: 1.1em !important;
    }

    .exceptions-instructions .content {
      color: rgba(0,0,0,0.8);
    }
    .exceptions-instructions .content p {
      opacity: 1;
    }
    .exceptions-instructions .content ul li {
      margin-bottom: 2em !important;
    }

      .exceptions-instructions table,
      .exceptions-instructions span.tibetan {
        font-family: 'Monlam Uni Ouchan2' !important;
        font-size: 23px !important;
      }
      .exceptions-instructions table {
        width: auto !important;
        margin: 0.5em 0 !important;
      }