table .header {
  width: 600px;
  padding: 15px !important;
}

.results-group .header {
  cursor: pointer;
}

.ui.label.test {
  margin: 2px;
  padding: 0 0 0 5px;
  font-weight: normal;
}
.ui.label.test:hover {
  background: #333 !important;
  cursor: pointer;
}
.ui.label.test .tibetan {
  display: inline-block;
  margin-right: 2px;
}